<div class="row">
    <div class="col-xs-12">
        <h2>
            Your books
            <button class="btn btn-primary pull-right" (click)="onNewBook()">New book</button>
        </h2>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books; let i = index"
                (click)="onViewBook(i)">
                <th scope="row"> {{ i }} </th>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <div class="text-right"> 
                        <div class="btn-group">
                            <button class="btn btn-primary" 
                            (click)="onViewBook(i)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>

                            <button class="btn btn-danger" 
                                    (click)="onDeleteBook(book)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
